
  @font-face {
    font-family: regular;
    src: url(font/Manrope-Regular.ttf);
    /* font-family: extra-light;
    src: url(font/Manrope-ExtraLight.ttf); */
}
body{
  font-family: regular;
}
#checkOut1{
  display: grid;
  grid-template-columns: auto auto auto auto;
}
  .column{
    width: 300px;
    height: 500px;
    padding-left: 15px;
    padding-right: 15px;
  }
  @media only screen and (max-width: 600px) {

    #checkOut1{
    display: grid;
    grid-template-columns: auto auto auto;
  }

}
  @media only screen and (max-width: 500px) {

    #checkOut1{
    display: grid;
    grid-template-columns: auto auto ;
  }

}
  @media only screen and (max-width: 400px) {

    #checkOut1{
    display: grid;
    grid-template-columns: auto;
  }
  }

  #delete{
    background-color: red;
    color: white;
    border: 1px solid red;
    border-radius: 8px;
    width: 80px;
    text-align: center;
  }
  .content {
    background-color: white;
    padding: 10px;
    height: 110%;
    width: 300px;
  }
  .content>img{
    height: 50%;
  }