body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}
  
*{
    box-sizing: border-box;
}




#cont{
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    padding: 16px;
    background-color: white;
}
#email, #psw ,#username{
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
} 
#email:focus, #psw:focus, #username:focus{
    background-color: #ddd;
    outline: none;
}

#pswRepeat{
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
} 
#pswRepeat:focus{
    background-color: #ddd;
    outline: none;
}



hr{
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}
  
#registerbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    margin: 8px 580px;
    border: none;
    cursor: pointer;
    width: 110px;
    opacity: 0.9;
    border-radius: 8px;
}
  
#registerbtn:hover {
    opacity: 1;
}
  
#terms{
    color: dodgerblue;
}
#signIn {
    padding-top: 17px;
    background-color: #f1f1f1;
    text-align: center;
    padding-bottom: 20px;
    margin-left: 100px;
    margin-right: 100px;
}
